html, body {
    font-family: 'Outfit', 'ui-sans-serif', system-ui, sans-serif !important;
    font-size: 16px !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: 'Outfit', 'ui-sans-serif', system-ui, sans-serif !important;
}
